In [1]:
import sys
import numpy as np

In [2]:
array = np.array(([1,6,11],[2,7,12],[3,8,13],[4,9,14],[5,10,15]))
array

array([[ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14],
       [ 5, 10, 15]])

In [3]:
#averiguar forma del array 
array.shape
#el resultado es una matriz con forma 5x3

(5, 3)

In [7]:
#Selecciona la segunda columna del array 
array[:,1]

array([ 6,  7,  8,  9, 10])

In [15]:
#Crea un vector con los valores del 15 al 55 y llamalo array 2
array2 = np.arange(15,56)
array2

array([15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
       49, 50, 51, 52, 53, 54, 55])

In [16]:
#Asigna el valor 23 a la quinta posicion del array2
array2[4] = 23
array2

array([15, 16, 17, 18, 23, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
       49, 50, 51, 52, 53, 54, 55])

In [19]:
#invertir el array 2
array_invertido = np.flip(array2)
array_invertido

array([55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39,
       38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22,
       21, 20, 23, 18, 17, 16, 15])